.navbar{
    background-color: #F28775;
    height: 100px;
    
}
.jumbotron{
background-image: url(./images/ima_portada2.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: #ffffff;
height: calc(100vh - 100px);
margin-bottom: 0;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
box-sizing: border-box;
  h1{
    font-size: 80px;
    padding: 0 0 20px 80px;
    font-weight: 700;
  }
  p {
      width: auto;
      margin-left: 70px;
      padding: 5px 10px;
      font-size: 26px;
      color: #F9F6E4;
      background-color: rgba(242, 135, 117, 0.6);
  }
}

@media (max-width: 576px){
  .jumbotron{
    margin: 0;
    padding: 0 0 40px 0;
    h1{
      font-size: 40px;
      padding: 0 0 5px 10px;
      font-weight: 700;
    }
    p {
      width: auto;
      margin: 0;
      padding: 5px 10px;
      font-size: 15px;
      color: #F9F6E4;
      animation-direction:initial;
      animation-duration: 3s;
      background-color: rgba(242, 135, 117, 0.6);
    }
  }
} 

h2{
  height: 60px;
  line-height: 40px;
  box-sizing: border-box;
  text-align: center;
  background-color: #F28775 ;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 0;
  animation-name: example;
  font-weight: 700;
}
@media (max-width: 540px){
  h2{
    font-size: 15px;
  }
}

@keyframes example {
  from {background-color: rgb(255, 255, 255);}
  to {background-color: #F9D9C0;}
}
.aboutme{
    height: calc(100vh - 60px);
    width: 100%;
    background: #F9D9C0;
    margin-bottom: 0;
    margin-top: 0;
    animation-fill-mode: both;
}
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
.sec1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.afoto{
background-image: url(images/imagen\ home.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
height: 80%;
}
.atexto{
    color: #F28775;
    margin-bottom: 0;
    margin-inline-end: 0px;
    line-height: 1.5rem;
    p {
        text-align: justify;
        font-size: 24px;
    }
}
@media (max-width: 767px){
  .aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .afoto{
      height: 38vh;
    }
    .atexto{
      color: #F28775;
      margin-bottom: 0;
      margin-inline-end: 0px;
      line-height: 1.3rem;
      p {
          *text-align: justify;
          font-size: 16px;
          padding: 5px 2px;
      }
    }
}

}
.carousel-inner{
    padding: 10px 0;
    text-align: center;
    @extend .atexto;
    display: flex;
    align-items: center;
}
.contenedorcta{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05), rgba(0, 0, 0)), url(images/imagenCustomer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 60px);
    *box-sizing: border-box;
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-rendering: optimizeLegibility;
    }
    .sec2{
      height: 97%;
      padding: 5px;
      margin: 5px;
    }
    .textsec2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h3{
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 20px;
      }
      p{
        margin-bottom: 40px;
        letter-spacing: 0.7px;
        line-height: 25px;
        background-color: rgba(156, 156, 156, 0.03);
      }
    }
}
@media (max-width: 767px){
  .contenedorcta{
    background-image: linear-gradient(to top, rgba(136, 136, 136, 0.5), rgba(0, 0, 0)), url(images/imagenCustomer.jpg);
    .espacioCustomer{
      display: none;
    }
    .textsec2 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      h3{
        font-size: 22px;
        padding-bottom: 20px;
      }
      p{
        margin-bottom: 10px;
        letter-spacing: 0.7px;
        line-height: 20px;
        background-color: rgba(156, 156, 156, 0.03);
      }
    }
}
}
.footer{
    height: 100px;
    background-color: #F28775;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
    .footerRow{
      display: flex;
      align-items: center;
      width: 100%;
      a{
        text-decoration: none;
        color: #272727;
      }
      .redes{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .textofooter{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
          margin: 0 2px 0;
          padding: 0 10px 0 10px;
        }
      }
    }
}
//podcast page
.jumbotronpod{
    background-image: url(https://images.unsplash.com/photo-1554200876-907f9286c2a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 80vh;
    border-radius: 0px;
    margin-bottom: 0;
}
.jumbotronpod h1{
    width: 55%;
    margin-left: 20px;
    margin-top: 0;
    color: #ffffff;
    padding-top: 20px;
    display: grid;
}
.jumbotronpod p{
    font-size: 20px;
    color: #F28775;
    animation-direction:initial;
    animation-duration: 3s;
    padding-left: 20px;
    padding-right: 20%;
    display: block;
}
//menu podcast 
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid #F7C289;
  //border-radius: 1rem;
  color: gray-dark;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  background-color: #F9D9C0;
  border: 1.5px solid rgb(218, 212, 212) ;
  border-radius: 20px;
  height: 40px;
  padding: 5px 20px;
  color: #272727;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 50px;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.50rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

.card__image--flowers {
  background-image: url(https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}

.card__image--river {
  background-image: url(https://we-care.mx/blog/wp-content/uploads/customer-experience-tere-lucio-830x830.jpg);
  background-position: bottom;
}

.card__image--record {
  background-image: url(https://m.media-amazon.com/images/S/dmp-catalog-images-prod/images/94685bf5-7363-4a61-8999-1777aaf4809e/94685bf5-7363-4a61-8999-1777aaf4809e-2142547557._SX576_SY576_BL0_QL100__UXNaN_FMjpg_QL85_.jpg);
}

.card__image--fence {
  background-image: url(https://www.hola.com/us/imagenes/es/lifestyle/2019082027179/mia-astral-astrologia-horoscopo-entrevista/0-198-815/Mia-Astral-headshot-t.jpg);
}

.card__title {
  color: gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

//Recursos page 
.jumbotronrec{
    background-image: url(https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 80vh;
    border-radius: 0px;
    margin-bottom: 0;
    text-align: left;
}
.jumbotronrec h1{
    width: 55%;
    margin-left: 20px;
    margin-top: 0;
    color: #ffffff;
    padding-top: 20px;
    padding-right: 10px;
}
.jumbotronrec p{
    font-size: 20px;
    color: #F28775;
    animation-direction:initial;
    animation-duration: 3s;
    margin-left: 20px;
    padding-right: 700px;

}
/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.main{
  max-width: 100%;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn--rec {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}
.autores {
    color: #ffffff;
    margin: 10px;
}
.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  margin-top: 1.25rem;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
//mis favoritos page 
.jumbotronmis{
    background-image: url(/images/stock-photo-pleased-student-denim-shirt-books\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 80vh;
    border-radius: 0px;
    margin-bottom: 0;
}
.jumbotronmis h1{
    width: 55%;
    margin-left: 20px;
    margin-top: 0;
    color: #EAE48F;
    padding-top: 20px;
}
.jumbotronmis p{
    font-size: 20px;
    color: #ffffff;
    animation-direction:initial;
    animation-duration: 3s;
    padding-left: 20px;
    padding-right: 600px;
}
//contacto page
.jumbotronconta{
    background-image: url(/images/stock-photo-pleased-student-denim-shirt-books\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 80vh;
    border-radius: 0px;
    margin-bottom: 0;
}
.jumbotronconta h1{
    width: 55%;
    margin-left: 20px;
    margin-top: 0;
    color: #EAE48F;
    padding-top: 20px;
}
.jumbotronconta p{
    font-size: 20px;
    color: #ffffff;
    animation-direction:initial;
    animation-duration: 3s;
    padding-left: 20px;
    padding-right: 600px;
}
.form-group{
    padding-left: 400px;
    padding-right: 400px;
    align-items: center;
}
.btn{
    padding-left: 200px;
    padding-right: 270px;
    margin-left: 400px;
    background-color: #F28775;
    border: radius 30px;
    margin-bottom: 10px;
}

.carousel-item{
  height: 150px;
  img{
    height: 150px;
  }
}

@media(max-width: 540px){
  .carousel-item{
    height: 80px;
    img{
      height: 80px;
    }
  }

  .footer{
    .footerRow{
      display: flex;
      width: 100%;
      padding-left: 10px;
      a{
        text-decoration: none;
        color: #272727;
      }
      .redes{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .textofooter{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
          font-size: 12px;
          margin: 0 2px 0;
          padding: 0 2px 0 2px;
        }
      }
    }
  }
}